<app-home class="home-menu"></app-home>

<div class="game-over-div" *ngIf="gameOver">
    <img src="assets/img/game_over.png">
    <h1>GAME OVER</h1>
    <button (click)="hrefNewGame()" class="start-button">Start Game</button>
</div>

<div *ngIf="!gameOver">
    <app-player (click)="editPlayer(i)" *ngFor="let player of game.players; let i = index;"
        [ngStyle]="{'top.px': 50 + (i*70)}" [name]="player" [playerActive]=" i == game.currentPlayer"
        [image]="game.playerImages[i]" class="player-position hide-mobile"></app-player>

    <div class="player-mobile-div">
        <app-player-mobile (click)="editPlayer(i)" *ngFor="let player of game.players; let i = index;"
            [ngStyle]="{'right.px': 20 + (i*90)}" [name]="player" [playerActive]=" i == game.currentPlayer"
            [image]="game.playerImages[i]" class="player-position hide-desktop"></app-player-mobile>
    </div>

    <div class="preload-images">
        <img src="assets/img/cards/{{ game.stack[game.stack.length -1] }}.png">
        <img src="assets/img/profile/female_muertos.png">
        <img src="assets/img/profile/male_muertos.png">
        <img src="assets/img/profile/player_male.png">
        <img src="assets/img/profile/player_female.png">
        <img src="assets/img/profile/skull_alt.png">
        <img src="assets/img/profile/skull.png">
    </div>

    <div class="field">
        <div [matTooltip]="this.game.players.length == 0 ? 'Please add at least one Player':null"
            matTooltipPosition="after" class="card-stack">
            <!--Card Stack-->
            <!--5 besetzte Stellen im Array stellvetretend für 5 wiederholungen der schleife-->
            <img [ngStyle]="{'right.px': i*5}" *ngFor="let c of [0,1,2,3]; let i=index;"
                src="assets/img/cards/card_cover.png">
            <img (click)="takeCard()" class="top-card" style="right:25px" src="assets/img/cards/card_cover.png">

            <!--Stack for played cards-->
            <img *ngFor="let card of game.playedCards" class="played-card" src="assets/img/cards/{{ card }}.png">

            <!--Current card (Animation)-->
            <img (click)="takeCard()" *ngIf="game.pickCardAnimation" class="pick-card" style="right:25px"
                src="assets/img/cards/{{ game.currentCard }}.png">
        </div>
    </div>

    <app-game-info [card]="game.currentCard" class="pin-bottom"></app-game-info>

    <button class="target-div" mat-fab color="primary" (click)="openAddPlayerDialog()" class="btn-add">
        <mat-icon>person_add</mat-icon>
    </button>
</div>