<div class="imprint-div">
    <h1>Impressum</h1>

    <h2>Angaben gem&auml;&szlig; &sect; 5 TMG</h2>
    <p>Pierre Rudolph Lettner<br />
        Grottenberg 2<br />
        86497 Horgau</p>

    <h2>Kontakt</h2>
    <p>Telefon: 015170914951<br />
        E-Mail: PLettner@hotmail.de</p>

    <p>Attribution:</p>
    <a href="https://www.flaticon.com/free-icons/food-and-restaurant" title="food and restaurant icons">Food and
        restaurant icons created by Freepik - Flaticon</a>

    <a href="https://www.flaticon.com/free-icons/youth" title="Youth icons">Youth icons created by Freepik -
        Flaticon</a>

    <a
        href="https://www.freepik.com/free-vector/deck-gangsta-playing-cards_8083771.htm#query=card%20deck&position=7&from_view=keyword&track=ais">Image
        by dgim-studio on Freepik</a>

    <a><a href="https://www.flaticon.com/free-icons/dia-de-muertos" title="dia de muertos icons">Dia de muertos icons
            created by Freepik - Flaticon</a></a>

    <a>Bild von <a
            href="https://pixabay.com/de/users/eleatell-15115856/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=7391781">🌞
            Myriam 🌞 Thank you for the likes</a> auf <a
            href="https://pixabay.com/de//?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=7391781">Pixabay</a></a>
    <button mat-button (click)="onNoClick()">Close</button>
</div>